/lib/med_decompose/Oligotyping/lib/__pycache__
/lib/med_decompose/Oligotyping/utils/__pycache__
/lib/med_decompose/Oligotyping/visualization/__pycache__
/__pycache__
tests/.DS_Store
/lib/med_decompose/Oligotyping/__pycache__/*
/**/*.pyc
tests/__pycache__/
settings.py
db.sqlite3
/__pycache__
/.idea
/dbApp/__pycache__
/dbBackup
**/.DS_Store
sp_config.py
.env
.vscode/
outputs/
*.nhr
*.nin
*.nsq
/**/tempData
*.logfile
/dbBackUp/*
symbiodiniumDB/
tests/data/smith_subsampled_data/lite/test_data_submission_input_lite_w_abs_paths.csv
